html,
body {
  margin: 0;
  height: 100%;
}

.block {
  position: relative;
  height: 100%;
  background: url(images/map.jpg) no-repeat center center;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.block::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  background: #020f20;
}

.button-default {
  display: flex;
  position: absolute;
  border: none;
  background: none;
  min-width: 41px;
  height: 41px;
  opacity: 0.7;
  border-radius: 50%;
}

.button-default::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background: url(images/plus.png) no-repeat center center;
  margin: -5px 0 0 -5px;
}

.text {
  display: none;
  font-family: Arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: white;
}

.button-active {
  display: flex;
  position: absolute;
  height: 41px;
  padding: 11px 15px;
  border: none;
  background: none;
  opacity: 1;
  border-radius: 40px;
}

.button-active::before {
  content: url(images/minus.svg);
  margin-right: 15px;
}

.button-active .text {
  display: block;
}

